/* Variables */
:root {
    --square-size: 80px;

    --dark: #0b2032;
    /* --light: white; */
    --light: #ebf5fe;
    --lighter: #f5fafe;
    
    --blue: #38a1fd;
    --yellow: #fdf638;
    --red: #fd383e;
}

/* General stuff */
body {
    margin: 0px;
    padding: 0px;

    background-color: var(--dark);
}

.container {
    width: fit-content;
    margin: auto;
}

.connect-4-hover, .connect-4-board, .info-bar {
    padding: calc(var(--square-size) / 4);
}

/* Info stuff */

.info-bar {
    padding: calc(var(--square-size) / 8) calc(var(--square-size) / 2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.info-text {
    width: fit-content;
    font-family: Verdana, Geneva, sans-serif;
    font-size: calc(var(--square-size) / 4);
    font-weight: bold;
    color: var(--light);
}

.play-again-icon {
    width: calc(var(--square-size) * 0.45) ;
    stroke: var(--light);

}

.spin {
    animation: spin 1s;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

/* The actual board styling */

.connect-4-hover, .connect-4-board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

    padding: calc(var(--square-size) / 4);
    
}

.connect-4-hover {
    height: var(--square-size);
    padding-bottom: calc(var(--square-size) / 8);
}

.connect-4-board {
    width: calc(var(--square-size) * 7);
    height: calc(var(--square-size) * 6);

    background-color: var(--blue);
}

.connect-4-hover-square, .connect-4-board-square {
    width: calc(var(--square-size) * 0.8);
    height: calc(var(--square-size) * 0.8);
    margin: calc(var(--square-size) * 0.1);

    border-radius: calc(var(--square-size) / 2);
}

.transparent {
    background-color: transparent;
}

.fade_transparent {
    animation: fade_transparent 1s;
}

@keyframes fade_transparent {
    0% {}
    100% {background-color: transparent;}
}


.empty {
    background-color: var(--lighter);
}

.fade_empty{
    animation: fade_empty 1s;
}

@keyframes fade_empty {
    0% {}
    100% {background-color: var(--lighter);}
}


.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
}